name: PR linter checks

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4

      - name: Setup pnpm and install deps
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v3
        with:
          run_install: |
            - recursive: false
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Validate all commit messages from the PR
        env:
          FROM: ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }}
          TO: ${{ github.event.pull_request.head.sha }}
        run: pnpm commitlint --from "$FROM" --to "$TO" --verbose

  reviewdog:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: shellcheck
        uses: reviewdog/action-shellcheck@6e0e63d1750d02d761b3df0f2c5ba9f9ac4a9ed7 # v1
        with:
          fail_on_error: true
          reporter: github-pr-review
          exclude: "./.git/*"
