name: PR linter checks

on:
  pull_request:
    types: [ opened, reopened, synchronize, ready_for_review ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v4

      - name: Setup pnpm and install deps
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v3
        with:
          run_install: |
            - recursive: false
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: Validate all commit messages from the PR
        env:
          FROM: ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }}
          TO: ${{ github.event.pull_request.head.sha }}
        run: pnpm commitlint --from "$FROM" --to "$TO" --verbose

  reviewdog:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: shellcheck
        uses: reviewdog/action-shellcheck@4c07458293ac342d477251099501a718ae5ef86e # v1
        with:
          fail_on_error: true
          reporter: github-pr-review
          exclude: "./.git/*"
