name: Push linter checks

on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4

      - name: Setup pnpm and install deps
        uses: pnpm/action-setup@fe02b34f77f8bc703788d5817da081398fad5dd2 # v3
        with:
          run_install: |
            - recursive: false
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: lint-staged
        run: pnpm exec lint-staged --verbose

      - name: actionlint
        uses: reviewdog/action-actionlint@abd537417cf4991e1ba8e21a67b1119f4f53b8e0 # v1
        with:
          fail_on_error: true

      - name: yamllint
        uses: reviewdog/action-yamllint@1dca3ad811867be18fbe293a9818d715a6c2cd46 # v1
        with:
          fail_on_error: true
          level: error
          yamllint_flags: "--no-warnings ."
