name: Push linter checks

on:
  push:


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v4

      - name: Setup pnpm and install deps
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v3
        with:
          run_install: |
            - recursive: false
              args: [--frozen-lockfile, --strict-peer-dependencies]

      - name: lint-staged
        run: pnpm exec lint-staged --verbose

      - name: actionlint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1
        with:
          fail_on_error: true

      - name: yamllint
        uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1
        with:
          fail_on_error: true
          level: error
          yamllint_flags: "--no-warnings ."
